<h2 mat-dialog-title>{{ 'components.adminSettingsDialog.title' | translate }}</h2>
<mat-dialog-content>
  <div class="settings-list">
    <div class="setting-row">
      <span>{{ 'components.adminSettingsDialog.allowOthersToReveal' | translate }}</span>
      <mat-slide-toggle
        [ngModel]="allowOthersToReveal"
        (ngModelChange)="onRevealChange($event)"
      />
    </div>
    <div class="setting-row">
      <span>{{ 'components.adminSettingsDialog.allowOthersToRestart' | translate }}</span>
      <mat-slide-toggle
        [ngModel]="allowOthersToRestart"
        (ngModelChange)="onRestartChange($event)"
      />
    </div>
  </div>
</mat-dialog-content>
