.nav-container {
  width: 100%;
  nav {
    margin: 1em;
    a {
      white-space: nowrap;
      svg {
        height: 40px;
        width: auto;
      }
      h1 {
        font-weight: bold;
        font-size: 2em;
        margin: 0;
      }
    }
  }
}
