@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@import "./mixins.scss";
@import "./component-themes.scss";

$primary: mat.define-palette($pp-yellow);
$accent: mat.define-palette($pp-green);
$warn: mat.define-palette($pp-red);

$dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-violet-palette,
  ),
  typography: (
    plain-family: $font-family,
    brand-family: $font-family,
  ),
  density: (
    scale: 0
  )
));

html:has(body.dark-theme) {
  @include mat.core();
  @include mat.all-component-typographies($dark-theme);
  @include mat.typography-hierarchy($dark-theme);
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
  @include component-themes($dark-theme);
}
