@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@import "./typography";
@import "./mixins";
@import "./component-themes";


$primary: mat.define-palette($pp-purple);
$accent: mat.define-palette($pp-yellow);
$warn: mat.define-palette($pp-red);


$light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-violet-palette,
  ),
  typography: (
    plain-family: $font-family,
    brand-family: $font-family,
    bold-weight: 800
  ),
  density: (
    scale: 0
  )
));

html {
  @include mat.all-component-typographies($light-theme);
  @include mat.typography-hierarchy($light-theme);
  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);
  @include component-themes($light-theme);
}
