@use '@angular/material' as mat;
@import "typography";
@import "mixins";
@import "component-themes";

@include mat.core();

$primary: mat.define-palette($pp-purple);
$accent: mat.define-palette($pp-yellow);
$warn: mat.define-palette($pp-red);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn),
  typography: $custom-typography,
  density: 0,
));

$background: map-get($light-theme, background);
$light-theme: map-merge($light-theme, (
  background: map-merge($background, (
    app-bar: white
  ))
));

@include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);
@include component-themes($light-theme);
