@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config($font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, IBM Plex Sans, Roboto, Helvetica, sans-serif');
@include mat.core($custom-typography)
