$font-family: 'Inter Variable';

$pp-blue: (
  50 : #e0eefc,
  100 : #b3d4f9,
  200 : #80b7f5,
  300 : #4d9af0,
  400 : #2684ed,
  500 : #006eea,
  600 : #0066e7,
  700 : #005be4,
  800 : #0051e1,
  900 : #003fdb,
  A100 : #ffffff,
  A200 : #cfdaff,
  A400 : #9cb2ff,
  A700 : #839eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$pp-green: (
  50 : #e7f7e5,
  100 : #c3ecbe,
  200 : #9bdf93,
  300 : #72d267,
  400 : #54c947,
  500 : #36bf26,
  600 : #30b922,
  700 : #29b11c,
  800 : #22a917,
  900 : #169b0d,
  A100 : #cdffca,
  A200 : #9cff97,
  A400 : #6bff64,
  A700 : #53ff4b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$pp-yellow: (
  50 : #fffaed,
  100 : #fff4d1,
  200 : #ffecb3,
  300 : #ffe494,
  400 : #ffdf7d,
  500 : #ffd966,
  600 : #ffd55e,
  700 : #ffcf53,
  800 : #ffca49,
  900 : #ffc038,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff5e1,
  A700 : #ffedc8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$pp-red: (
  50 : #fceaeb,
  100 : #f8cace,
  200 : #f4a7ae,
  300 : #ef848d,
  400 : #eb6974,
  500 : #e84f5c,
  600 : #e54854,
  700 : #e23f4a,
  800 : #de3641,
  900 : #d82630,
  A100 : #ffffff,
  A200 : #ffe1e3,
  A400 : #ffaeb2,
  A700 : #ff959a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$pp-purple: (
  50 : #ebe2fd,
  100 : #cdb8f9,
  200 : #ab88f5,
  300 : #8958f1,
  400 : #7035ee,
  500 : #5711eb,
  600 : #4f0fe9,
  700 : #460ce5,
  800 : #3c0ae2,
  900 : #2c05dd,
  A100 : #ffffff,
  A200 : #d8d2ff,
  A400 : #ab9fff,
  A700 : #9586ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
