@use '@angular/material' as mat;
@import "../../../styles/mixins";

@mixin game-component-theme($theme) {
  $isDark: mat.get-theme-type($theme) == 'dark';

  button[mat-icon-button] {
    --mdc-icon-button-icon-color: #{mat.get-theme-color($theme, primary)};
  }
  .table {
    color: mat.get-theme-color($theme, primary, 10);
    @if($isDark) {
      background: mat.get-theme-color($theme, primary);
    } @else {
      background: mat.get-theme-color($theme, primary, 90);
    }
  }

  .bottom-menu {
    $bgColor: mat.get-theme-color($theme, on-secondary);
    background: $bgColor;

    .card {
      background: $bgColor;
      $color: mat.get-theme-color($theme, primary);
      color: $color;
      border: 2px solid $color;

      &:hover {
       background: rgba(mat.get-theme-color($theme, primary), 40%)
      }
      &.selected {
        color: $bgColor;
        border-color: $color;
        background: $color;
      }
    }

    .gray {
      color: mat.get-theme-color($theme, on-surface-variant);
    }
  }

  .agreement {
    mat-spinner {
      &:first-of-type {
        transform: scaleX(-1);
        circle {
          @if($isDark) {
            stroke: desaturate(mat.get-theme-color($theme, primary, 20), 75%);
          } @else {
            stroke: mat.get-theme-color($theme, primary, 90);
          }
        }
      }
    }
  }
}
