<navigation>
  <pp-theme-switcher></pp-theme-switcher>
</navigation>
<div class="container fx-layout-column fx-align--center-x fx-align--x-center">
  <div class="fx-layout-column fx-align--center-x fx-align--x-center">
    <h2>{{ 'newGame.createNewGame' | translate }}</h2>
    <p>{{ 'newGame.chooseNameText' | translate }}</p>
    <form #form="ngForm" (submit)="createGame()">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'newGame.tableNameLabel' | translate }}</mat-label>
        <input id="game_name_input" name="gameName" [(ngModel)]="gameName" required matInput type="text"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'newGame.votingSystemLabel' | translate }}</mat-label>
        <mat-select [(value)]="selectedScheme">
          @for (scheme of votingSchemes; track scheme) {
            <mat-option [value]="scheme.id">{{ scheme.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button [disabled]="form.form.invalid" mat-flat-button color="primary" type="submit">{{ 'newGame.createGame' | translate }}</button>
    </form>
  </div>
</div>
