@use "css-fx-layout" as fx;
@use "@angular/material" as mat;
@import "styles/typography";

@include mat.core();

@include fx.class-selectors;
@include fx.gap-class-selectors(1, 10, 1, px em);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: currentColor;
}
*:focus {
  outline: none;
}

img {
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  vertical-align: middle;
}
