@use "sass:list";

@use "@angular/material" as mat;
@import "../../../styles/mixins";

@mixin participant-component-theme($theme) {
  $isDark: mat.get-theme-type($theme) == 'dark';

  .participant {

    .participant-card {

      background: mat.get-theme-color($theme, surface-dim);
      @include mat.elevation(0);

      &.voted {
        $color1: mat.get-theme-color($theme, primary, 30);
        $color2: mat.get-theme-color($theme, primary, 50);
        $color3: mat.get-theme-color($theme, primary, 80);

        $patternSize: 12px;

        background: linear-gradient(135deg, $color1 25%, transparent 25%) -#{$patternSize*0.5} list.slash(0, $patternSize) #{$patternSize},
        linear-gradient(225deg, $color2 25%, transparent 25%) -#{$patternSize*0.5} list.slash(0, $patternSize) #{$patternSize},
        linear-gradient(315deg, $color1 25%, transparent 25%) 0px list.slash(0, $patternSize) #{$patternSize},
        linear-gradient(45deg, $color2 25%, $color3 25%) 0px list.slash(0, $patternSize) #{$patternSize};
        @include mat.elevation(2);
      }

      &.revealed {
        $color1: mat.get-theme-color($theme, primary);
        border: 2px solid $color1;
        background: mat.get-theme-color($theme, surface);
        color: $color1;
        @include mat.elevation(2);
      }
    }
  }
}


