@use "@angular/material" as mat;
@import "../../../styles/mixins";

.participant {
  margin: 0 1em;

  .participant-card {
    border-radius: 8px;
    width: 36px;
    height: 52px;

    span {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  strong {
    width: 120px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
