@use '@angular/material' as mat;
@import "../../../styles/mixins";

@mixin theme-switcher-component-theme($theme) {
  $primary: map-get($theme, primary);
  .theme-switcher-menu {
    .active {
      font-weight: 600;
      color: mat.get-color-from-palette($primary, 500);
      mat-icon {
        color: mat.get-color-from-palette($primary, 500);
      }
    }
  }
}
