.invite-players-dialog {
  padding: 2em;

  h2 {
    margin: 0;
  }

  mat-form-field, button {
    width: 100%;
  }

  .show-qr-button {
    margin-top: 1em;
  }

  .qr {
    margin-bottom: 1em;
  }

}
