<div class="invite-players-dialog" fxLayout="column" fxLayoutGap="2em">
  <h2 mat-dialog-title>{{ 'components.invitePlayersDialog.title' | translate }}</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'components.invitePlayersDialog.urlLabel' | translate }}</mat-label>
      <input matInput #input autofocus readonly name="gameurl" [value]="gameUrl" />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="copyUrl()">{{ 'components.invitePlayersDialog.copyButton' | translate }}</button>
  </div>
</div>
